---
import classNames from "classnames";
import "./Field.scss";

export interface Props extends Record<string, any> {
	className?: string;
	label?: string;
	labelSize?: "large";
}

const { className, label, labelSize, ...props } = Astro.props;
---

<div class={classNames(className, "field")} {...props}>
	{label && <div class={classNames("field__label", labelSize)}>{label}</div>}
	<div class="field__input">
		<slot />
	</div>
</div>
