---
import classNames from "classnames";
import "./Field.scss";

export interface Props {
	className?: string;
	label?: string;
	labelSize?: "large";
	fullWidth?: boolean;
}

const { className, label, labelSize, fullWidth } = Astro.props;
---

<div
	class={classNames(className, "field", {
		"full-width": fullWidth,
	})}
>
	{label && <div class={classNames("field__label", labelSize)}>{label}</div>}
	<div class="field__input-wrapper">
		<slot />
	</div>
</div>
