---
import StatsCard from "components/StatsCard/StatsCard.astro";
import Layout from "layouts/Layout/Layout.astro";
import ActiveBlockPoster from "./ActiveBlockPoster/ActiveBlockPoster.astro";
import ActiveBlocks from "./ActiveBlocks/ActiveBlocks.astro";
import Operations from "components/Operations/Operations.astro";
import "./ActiveBlocksPage.scss";
---

<Layout title="Блоки активов" selectedMenuItem="actives">
	<div class="content-active-blocks">
		<div class="content-active-blocks__stats">
			<StatsCard
				title="Блоки активов"
				icon="info"
				stats={[
					{
						name: "Текущие активы",
						value: "2500",
						unit: "USDT",
					},
					{
						name: "Зачисленные активы",
						value: "52",
						unit: "USDT",
					},
				]}
			/>
			<StatsCard
				title="Средний доход в день"
				icon="money"
				stats={[
					{
						name: "Зеленый",
						value: "0.92",
						unit: "%",
					},
					{
						name: "Синий",
						value: "1.12",
						unit: "%",
					},
					{
						name: "Розовый",
						value: "1.25",
						unit: "%",
					},
				]}
			/>
			<StatsCard
				title="Доход от активов"
				icon="channel-share"
				stats={[
					{
						name: "Зеленый",
						value: "5",
						unit: "USDT",
					},
					{
						name: "Синий",
						value: "25",
						unit: "USDT",
					},
					{
						name: "Розовый",
						value: "22",
						unit: "USDT",
					},
				]}
			/>
		</div>
		<div class="content-active-blocks__section green">
			<ActiveBlockPoster className="content-active-blocks__poster" variant="green" />
			<ActiveBlocks className="content-active-blocks__blocks" variant="green" />
		</div>
		<div class="content-active-blocks__section blue">
			<ActiveBlockPoster className="content-active-blocks__poster" variant="blue" />
			<ActiveBlocks className="content-active-blocks__blocks" variant="blue" />
		</div>
		<div class="content-active-blocks__section purple">
			<ActiveBlockPoster className="content-active-blocks__poster" variant="purple" />
			<ActiveBlocks className="content-active-blocks__blocks" variant="purple" />
		</div>
		<Operations className="content-active-blocks__operations" />
	</div>
</Layout>
