---
import { HTMLAttributes } from "astro/types";
import "./PseudoSvg.scss";

export interface Props {
	style?: HTMLAttributes<"div">["style"];
}

const props = Astro.props;
---

<div class="pseudo-svg__rect" {...props}></div>
