---
import RandomInput from "components/@uikit/RandomInput/RandomInput.astro";
import Button from "components/@uikit/Button/Button.astro";
---

<form class="squre-form" id="squareForm">
    <RandomInput name="a" min={0} max={100} defaultValue={0} />
    <br />
    <Button>
        Посчитать квадрат
    </Button>
    <br />
    <br />
    <div>
        <span>Результат: </span>
        <span data-result>

        </span>
    </div>
</form>

<script>
    import "./SquareForm";
</script>