@import "../../../../styles/mixins.scss";

.active-blocks {
	&.green {
		.active-blocks__block-chip {
			color: $color-green;

			&::before {
				background-image: url("/_layout-assets/img/_parts/board/chips/green.svg");
				background-size: 100% 100%;
			}
		}
	}

	&.blue {
		.active-blocks__block-chip {
			color: $color-blue;

			&::before {
				background-image: url("/_layout-assets/img/_parts/board/chips/blue.svg");
				background-size: 100% 100%;
			}
		}
	}

	&.purple {
		.active-blocks__block-chip {
			color: $color-purple;

			&::before {
				background-image: url("/_layout-assets/img/_parts/board/chips/purple.svg");
				background-size: 100% 100%;
			}
		}
	}
}

.active-blocks__show-btn {
	display: none;
}

.active-blocks__main {
	@include paper;
}

.active-blocks__hide-btn {
	display: none;
}

.active-blocks__form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1.5rem;
}

// blocks

.active-blocks__blocks {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	gap: 0.5rem;
}

.active-blocks__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;

	@include paper;
	border-radius: 0.5rem;

	// active by default

	&.inactive {
		cursor: pointer;
		transition: box-shadow $animation-normal;

		&:hover {
			box-shadow: 0 0 1rem $color-prime-main;
		}

		&:focus {
			outline: $color-prime-main solid 2px;
		}

		& > .active-blocks__block-status {
			color: $color-error-main;
		}
		& > .active-blocks__block-chip {
			color: #787878;

			&::before {
				background-image: url("/_layout-assets/img/_parts/board/chips/closed.svg");
				background-size: 100% 100%;
			}
		}
		& > .active-blocks__block-timer {
			color: #787878;
		}
	}
	&.unavailable {
		& > .active-blocks__block-status {
			color: #787878;
		}
		& > .active-blocks__block-chip {
			color: #787878;

			&::before {
				background-image: url("/_layout-assets/img/_parts/board/chips/closed.svg");
				background-size: 100% 100%;
			}
		}
		& > .active-blocks__block-timer {
			color: #787878;
		}
	}
}

.active-blocks__block-status {
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	color: $color-green;
}

.active-blocks__block-chip {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;

	width: 112px;
	aspect-ratio: 1;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 120px;
		width: 160 / 112 * 100%;
		aspect-ratio: 1;
		z-index: -1;
	}

	font-family: Righteous;
	font-size: 1rem;
	line-height: normal;
}

.active-blocks__block-timer {
	padding: 0.75rem 0.5rem;
	@include typography-caption;
	text-align: center;
}

// button

.active-blocks__active-btn {
	width: 100%;
	flex-direction: column !important;
	align-items: center;
	gap: 0.125rem;
	padding: 0.625rem 0.5rem 1rem 0.5rem !important;
	border-radius: 0.5rem !important;
	border: 1px solid $color-prime-main;

	&.disabled {
		@include paper;
		opacity: 1;
		pointer-events: none;

		& > .active-blocks__active-btn-label {
			color: $color-prime-main;
			opacity: 0.5;
		}

		& > .active-blocks__active-btn-description {
			color: $color-text-more-secondary;
		}
	}
}

.active-blocks__active-btn-label {
	@include typography-body2;
	font-weight: 500;
}

.active-blocks__active-btn-description {
	@include typography-caption;
}

// footer

.active-blocks__footer {
	padding: 1rem;

	// dashed border top + background
	$dash-length: 0.5rem;
	background-color: $color-paper;
	background-image: repeating-linear-gradient(
		to right,
		rgba(255, 255, 255, 0.24),
		rgba(255, 255, 255, 0.24) $dash-length,
		transparent $dash-length,
		transparent $dash-length * 2,
		rgba(255, 255, 255, 0.24) $dash-length * 2
	);
	background-size: 100% 1px;
	background-position: top;
	background-repeat: no-repeat;

	@include typography-caption;
	color: $color-text-secondary;
}

// ADAPTIVE

@media (max-width: $breakpoint-mobile-big) {
	.active-blocks {
		&.expanded {
			.active-blocks__main {
				display: block;
			}

			.active-blocks__show-btn {
				display: none;
			}

			.active-blocks__hide-btn {
				display: flex;
			}
		}
	}

	.active-blocks__show-btn {
		display: flex;
		width: 100%;
	}

	.active-blocks__main {
		display: none;
	}

	.active-blocks__hide-btn {
		display: none;
		width: 100%;
	}
}
