---
import Layout from "layouts/Layout/Layout.astro";
import WalletAddress from "./WalletAddress/WalletAddress.astro";
import Instructions from "components/@common/Instructions/Instructions.astro";
import Operations from "components/@common/Operations/Operations.astro";
import ToggleButtonGroup from "components/@uikit/ToggleButtonGroup/ToggleButtonGroup.astro";
import "./IncomePage.scss";
import WithSwitchClasses from "components/@uikit/WithSwitchClasses/WithSwitchClasses.astro";
---

<Layout title="Пополнение кошелька" selectedMenuItem="income">
	<div class="content-income show-income">
		<WithSwitchClasses
			classes={["show-income", "show-instructions"]}
			target=".content-income"
			source=".toggle-button"
		>
			<ToggleButtonGroup
				className="content-income__tabs"
				items={[
					{ text: "Пополнение", value: "income" },
					{ text: "Инструкция", value: "instruction" },
				]}
				value="income"
				equalColumns
			/>
		</WithSwitchClasses>
		<WalletAddress className="content-income__wallet-address" />
		<Instructions
			className="content-income__instructions"
			title="How to top up my Arbitroom personal account?"
			steps={[
				"Go to the «Deposit» tab;",
				"Scan the QR code with wallet address or copy it in the line below;",
				"Transfer any amount to the previously copied USDT TRC20 wallet;",
				"Wait for the funds to be credited to the internal wallet of your personal account within 5-15 minutes.",
			]}
			tip="If the funds are not credited to the internal wallet within the specified time, contact the technical support manager."
		/>
		<Operations className="content-income__operations" />
	</div>
</Layout>
