---
import classNames from "classnames";
import Block from "components/@uikit/Block/Block.astro";
import BlockContent from "components/@uikit/Block/BlockContent.astro";
import BlockTitle from "components/@uikit/Block/BlockTitle.astro";
import "./BlocksWork.scss";

export interface Props {
	className?: string;
}

const { className } = Astro.props;
---

<Block className={classNames(className, "blocks-work")} id="blocksWork" data-source="/_fake/dashboard/blocks-work.json">
	<BlockTitle>Работа блоков</BlockTitle>
	<BlockContent className="blocks-work__content">
		<div class="blocks-work__tabs" id="blocksWorkTabs">
			<div class="blocks-work__tab green active" data-variant="green">Зелёный</div>
			<div class="blocks-work__tab blue" data-variant="blue">Синий</div>
			<div class="blocks-work__tab purple" data-variant="purple">Фиолетовый</div>
		</div>
	</BlockContent>
	<div class="blocks-work__chart-container">
		<canvas class="blocks-work__chart"></canvas>
	</div>
</Block>

<script>
	import "./BlocksWork";
</script>
