@import "../../../../styles/variables.scss";

.blocks-work__tabs {
	display: flex;
	border: 1px solid $color-divider;
	border-radius: 0.5rem;
}

.blocks-work__content {
	flex-grow: 0;
}

.blocks-work__tab {
	position: relative;
	flex-basis: 80px;
	flex-grow: 1;
	padding: 0.5rem 0.75rem;
	border-right: 1px solid $color-divider;
	cursor: pointer;
	overflow: hidden;
	z-index: 2;

	&:first-child {
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
	}

	&:last-child {
		border-top-right-radius: inherit;
		border-bottom-right-radius: inherit;
		border-right: none;
	}

	@include typography-caption;
	text-align: center;

	background: linear-gradient(0deg, #181134 0%, #222c5f 100%);

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 60%);
		width: 95.2px;
		height: 61.6px;
		border-radius: 59.733px;
		background: transparent;
		opacity: 0.32;
		transition: opacity $animation-normal;

		filter: blur(18.66666603088379px);
		z-index: -1;
	}

	&.green::before {
		background: rgba(37, 255, 1, 0.9);
	}

	&.blue::before {
		background: rgba(1, 224, 255, 0.9);
	}

	&.purple::before {
		background: rgba(171, 41, 250, 0.9);
	}

	&.active::before {
		opacity: 1 !important;
	}

	&:hover::before {
		opacity: 0.64;
	}
}

.blocks-work__chart-container {
	padding: 1rem;
}

@media (max-width: $breakpoint-mobile-big) {
	.blocks-work__chart-container {
		max-height: 334px;
	}
}
