---
import classNames from "classnames";
import Icon from "../Icon/Icon.astro";
import "./Swiper.scss";

export interface Props {
	className?: string;
	pagination?: boolean;
	navigation?: boolean;
}

const { className, pagination, navigation } = Astro.props;
---

<div class={classNames(className, "swiper")}>
	<div class="swiper-wrapper">
		<slot />
	</div>
	{pagination && <div class="swiper-pagination" />}
	{
		navigation && (
			<div class="swiper-button-prev">
				<Icon iconName={"chevron-left"} />
			</div>
		)
	}
	{
		navigation && (
			<div class="swiper-button-next">
				<Icon iconName={"chevron-right"} />
			</div>
		)
	}
</div>

<script>
	import "./Swiper";
</script>
