---
import Layout from "layouts/Layout/Layout.astro";
import StatsCard from "components/@common/StatsCard/StatsCard.astro";
import StatusBlock from "./StatusBlock/StatusBlock.astro";
import "./StatusesPage.scss";
---

<Layout title="Статусы" selectedMenuItem="statuses">
	<div class="content-statuses">
		<div class="content-statuses__stats">
			<StatsCard
				title="Статусная премия"
				icon="info"
				stats={[
					{
						value: "710",
						unit: "USDT",
						name: "Общая",
					},
					{
						value: "500",
						unit: "USDT",
						name: "Текущая",
					},
				]}
			/>
			<StatsCard
				title="Квалификации"
				icon="money"
				stats={[
					{
						value: "B1",
						name: "Текущий статус",
					},
					{
						value: "80 000",
						unit: "USDT",
						name: "Текущий оборот",
					},
				]}
			/>
			<StatsCard
				title="Общая глубина структуры"
				icon="channel-share"
				stats={[
					{
						value: "127",
						unit: "чел.",
						name: "Кол-во партнеров",
					},
					{
						value: "320 000",
						unit: "USDT",
						name: "Весь оборот структуры",
					},
				]}
			/>
		</div>
		<StatusBlock className="content-statuses__current-status" status={"A1"} main complete />
		<div class="content-statuses__all-statuses">
			<StatusBlock status={"A1"} complete />
			<StatusBlock status={"A2"} />
			<StatusBlock status={"A3"} />
			<StatusBlock status={"B1"} />
			<StatusBlock status={"B1-F"} />
			<StatusBlock status={"B2"} />
			<StatusBlock status={"B2-F"} />
			<StatusBlock status={"B3"} />
			<StatusBlock status={"B3-F"} />
			<StatusBlock status={"C1"} />
			<StatusBlock status={"C1-F"} />
			<StatusBlock status={"C2"} />
			<StatusBlock status={"C2-F"} />
			<StatusBlock status={"C3"} />
			<StatusBlock status={"C3-F"} />
			<StatusBlock status={"D1"} />
			<StatusBlock status={"D2"} />
			<StatusBlock status={"D3"} />
		</div>
	</div>
</Layout>
