// Golos

@font-face {
	font-family: "Golos";
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url("/_layout-assets/fonts/GolosText-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Golos";
	font-display: swap;
	font-weight: 500;
	font-style: normal;
	src: url("/_layout-assets/fonts/GolosText-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Golos";
	font-display: swap;
	font-weight: 600;
	font-style: normal;
	src: url("/_layout-assets/fonts/GolosText-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Golos";
	font-display: swap;
	font-weight: 700;
	font-style: normal;
	src: url("/_layout-assets/fonts/GolosText-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Golos";
	font-display: swap;
	font-weight: 900;
	font-style: normal;
	src: url("/_layout-assets/fonts/GolosText-Black.ttf") format("truetype");
}

// Righteous

@font-face {
	font-family: "Righteous";
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url("/_layout-assets/fonts/Righteous-Regular.ttf") format("truetype");
}

// Unbounded

@font-face {
	font-family: "Unbounded";
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url("/_layout-assets/fonts/Unbounded-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Unbounded";
	font-display: swap;
	font-weight: 500;
	font-style: normal;
	src: url("/_layout-assets/fonts/Unbounded-Medium.ttf") format("truetype");
}
