@import "./variables.scss";

html {
	--animation-slow: #{$animation-slow};
	--popper-viewport-padding: #{$popper-viewport-padding};
	--color-background: #{$color-background};
	--color-prime-main: #{$color-prime-main};

	scroll-behavior: smooth;
	font-family: Golos;

	min-height: 100vh;
	background-image: url("/_layout-assets/img/background.svg"),
		linear-gradient($color-background 0%, $color-background 100%);
	background-size: max(100vw, 1337px);
	background-position-x: 33%;
	background-repeat: no-repeat;
}

body {
	color: $color-text;
	font-size: 16px;
}
