@import "../../styles/variables.scss";

.container {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	display: flex;
}

.main {
	flex-grow: 1;
	min-width: 0;
	max-width: 100%;
}

.content {
	padding: 1.5rem 2.5rem;
}

@media (max-width: $breakpoint-mobile-big) {
	.content {
		padding: 1rem 1rem 2rem 1rem;
	}
}
