@import "../../styles/variables.scss";

.container {
	display: flex;
	align-items: stretch;
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}

.main {
	flex-grow: 1;
	min-width: 0;
	max-width: 100%;
}

.content {
	padding: 1.5rem 2.5rem;
	max-width: #{$max-content-width};
	margin: 0 auto;
}

@media (max-width: $breakpoint-mobile-big) {
	.content {
		padding: 1rem 1rem 2rem 1rem;
	}
}
