---
// global styles
import "styles/reset.scss";
import "styles/fonts.scss";
import "styles/global.scss";
// other imports
import Header from "components/@common/Header/Header.astro";
import LangaugeMenu from "components/@common/LanguageMenu/LangaugeMenu.astro";
import Loader from "components/@common/Loader/Loader.astro";

export interface Props {
	title: string;
	noSider?: boolean;
}

const { title, noSider } = Astro.props;
---

<!doctype html>
<html lang="ru-RU">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>{title} | Arbitroom</title>
		<link rel="apple-touch-icon" sizes="180x180" href={"/apple-touch-icon.png"} />
		<link rel="icon" type="image/png" sizes="32x32" href={"/favicon-32x32.png"} />
		<link rel="icon" type="image/png" sizes="16x16" href={"/favicon-16x16.png"} />
		<link rel="manifest" href="/site.webmanifest" />
	</head>
	<body>
		<!-- LOADER -->
		<Loader />

		<!-- POPPERS -->
		<LangaugeMenu />

		<!-- MAIN -->
		<Header noBurger={noSider} title={noSider ? { type: "logo" } : { type: "title", text: "title" }} />
		<main class="content">
			<slot />
		</main>
	</body>
</html>
