---
import Layout from "layouts/Layout/Layout.astro";
import AllOperations from "./AllOperations/AllOperations.astro";
---

<Layout title="История операций" selectedMenuItem="operations">
	<div class="content-operations">
		<AllOperations className="content-operations__all-operations" />
	</div>
</Layout>
