---
import Layout from "layouts/Layout/Layout.astro";
import ContactsBlock from "./ContactsBlock/ContactsBlock.astro";
import InfoDocs from "./InfoDocs/InfoDocs.astro";
import FAQ from "./FAQ/FAQ.astro";
import "./InfoPage.scss";
---

<Layout title="Информация" selectedMenuItem="info" withMediaViewer>
	<div class="content-info">
		<ContactsBlock className="content-info__conctacs" />
		<InfoDocs className="content-info__docs" />
		<FAQ className="content-info__faq" />
	</div>
</Layout>
