@import "../../../styles/mixins.scss";

.content-info {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.content-info__faq {
	margin-top: 0.5rem;
}

// ADAPTIVE

@media (max-width: $breakpoint-mobile-big) {
	.content-info__faq {
		margin-top: 0;
	}
}
