---
import Button from "components/@uikit/Button/Button.astro";
import Dialog from "components/@uikit/Dialog/Dialog.astro";
import DialogActions from "components/@uikit/Dialog/DialogActions.astro";
import DialogContent from "components/@uikit/Dialog/DialogContent.astro";
import DialogTitle from "components/@uikit/Dialog/DialogTitle.astro";
import Field from "components/@uikit/Field/Field.astro";
import Input from "components/@uikit/Input/Input.astro";
import InputPassword from "components/@uikit/InputPassword/InputPassword.astro";
---

<Dialog as="form" id="changePasswordDialog" maxWidth="xs" fullWidth>
	<DialogTitle>Сменить пароль</DialogTitle>
	<DialogContent>
		<Field label="Старый пароль" marginBottom={1.5}>
			<InputPassword name="oldPassword" placeholder="••••••••" />
		</Field>
		<Field label="Новый пароль" marginBottom={1.5}>
			<InputPassword name="newPassword" placeholder="••••••••" />
		</Field>
		<Field label="Повторите новый пароль">
			<InputPassword name="confirmPassword" placeholder="••••••••" />
		</Field>
		<Field>
			<Input name="code" placeholder="Код с Google Authenticator" />
		</Field>
	</DialogContent>
	<DialogActions>
		<Button variant="contained" type="submit" fullWidth>Сохранить</Button>
	</DialogActions>
</Dialog>
