---
import Layout from "layouts/Layout/Layout.astro";
import ClusterSummary from "./ClusterSummary/ClusterSummary.astro";
import ClusterStats from "./ClusterStats/ClusterStats.astro";
import ClusterTimers from "./ClusterTimers/ClusterTimers.astro";
import DailyRewards from "./DailyRewards/DailyRewards.astro";
import Board from "./Board/Board.astro";
import "./ClustersPage.scss";
---

<Layout title="Кластеры" variant="langing">
	<div class="clusters">
		<div class="clusters__menu">
			<ClusterSummary className="clusters__cluster-summary" />
			<a class="clusters__dashboard-btn" href="/dashboard">Dashboard</a>
			<ClusterStats className="clusters__cluster-stats" />
			<ClusterTimers className="clusters__cluster-timers" />
		</div>
		<DailyRewards className="clusters__daily-rewards" />
		<Board className="clusters__board" />
	</div>
</Layout>
