---
import Layout from "layouts/Layout/Layout.astro";
import ClusterSummary from "./ClusterSummary/ClusterSummary.astro";
import ClusterStats from "./ClusterStats/ClusterStats.astro";
import ClusterTimers from "./ClusterTimers/ClusterTimers.astro";
import DailyRewards from "./DailyRewards/DailyRewards.astro";
import Board from "./Board/Board.astro";
import LoginOverlay from "./LoginOverlay/LoginOverlay.astro";
import LoginDialog from "./@dialogs/LoginDialog/LoginDialog.astro";
import RestoreDialog from "./@dialogs/RestoreDialog/RestoreDialog.astro";
import "./ClustersPage.scss";
import SignupDialog from "./@dialogs/SignupDialog/SignupDialog.astro";
---

<Layout htmlClassName="login-overlay-open" title="Кластеры" variant="langing">
	<Fragment slot="modals">
		<LoginDialog />
		<RestoreDialog />
		<SignupDialog />
	</Fragment>

	<Fragment slot="beforeMain">
		<!-- LOGIN OVERLAY -->
		<LoginOverlay />
	</Fragment>

	<div class="content-clusters">
		<div class="content-clusters__menu">
			<ClusterSummary className="content-clusters__cluster-summary" />
			<a class="content-clusters__dashboard-btn" href="/">Dashboard</a>
			<ClusterStats className="content-clusters__cluster-stats" />
			<ClusterTimers className="content-clusters__cluster-timers" />
		</div>
		<DailyRewards className="content-clusters__daily-rewards" />
		<Board className="content-clusters__board" />
	</div>
</Layout>
