@import "../../../styles/mixins.scss";

// layout

.content-clusters {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"m d d"
		"m b b"
		". b b";
	gap: 1rem;
}

.content-clusters__menu {
	grid-area: m;
}

.content-clusters__daily-rewards {
	grid-area: d;
}

.content-clusters__board {
	grid-area: b;
}

// menu

.content-clusters__menu {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.content-clusters__dashboard-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	width: 100%;
	@include typography-h5;
	@include paper;
	@include with-glow-ellipse;
}

// ADAPTIVE

@media (max-width: $breakpoint-laptop-small) {
	.content-clusters {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.content-clusters__menu {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"s st"
			"s t"
			"d t";
		gap: 1rem;
	}

	.content-clusters__cluster-summary {
		grid-area: s;
	}

	.content-clusters__dashboard-btn {
		grid-area: d;
	}

	.content-clusters__cluster-stats {
		grid-area: st;
	}

	.content-clusters__cluster-timers {
		grid-area: t;
	}
}

@media (max-width: $breakpoint-tablet-small) {
	.content-clusters__menu {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
