---
import Layout from "layouts/Layout/Layout.astro";
import ClusterSummary from "./ClusterSummary/ClusterSummary.astro";
---

<Layout title="Кластеры" variant="langing">
	<div class="clusters">
		<div class="clusters__menu">
			<ClusterSummary className="clusters__cluster-summary" />
		</div>
	</div>
</Layout>
