---
import Layout from "layouts/Layout/Layout.astro";
---

<Layout title="Кластеры" noSider>
	<div class="test-text" style="font-family: Golos; font-size: 48px">
		Whereas recognition of the inherent dignity
	</div>
</Layout>
