---
import classNames from "classnames";
import "./Table.scss";

export interface Props {
	className?: string;
}

const { className } = Astro.props;
---

<div class={classNames(className, "table")}>
	<slot />
</div>
