---
import classNames from "classnames";
import "./Table.scss";

export interface Props {
	className?: string;
	label?: string;
	name?: string;
}

const { className, label, name } = Astro.props;
---

<div class={classNames(className, "table__cell")} data-name={name}>
	{
		label ? (
			<>
				<div class="table__cell-label">{label}</div>
				<div class="table__cell-value">
					<slot />
				</div>
			</>
		) : (
			<slot />
		)
	}
</div>
