---
import classNames from "classnames";
import "./Button.scss";

type Props = {
    className?: string;
    type?: "button" | "submit"
}

const {className, type} = Astro.props;
---

<button class={classNames(className, "button")} type={type}>
    <slot />
</button>

<script>
    import "./Button";
</script>