---
import classNames from "classnames";
import "./Dialog.scss";

export interface Props {
	className?: string;
}

const { className } = Astro.props;
---

<div class={classNames(className, "dialog__subactions")}>
	<slot />
</div>
