@import "../../../styles/variables.scss";

.notifications {
	width: 328px;
	max-width: 100vw;
}

.notifications__header {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.75rem 1.5rem;
	border-bottom: 1px solid $color-divider;
}

.notifications__header-title {
	@include typography-subtitle1;
}

.notifications__header-subtitle {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5rem;
}

.notifications__clean-btn {
	padding: 0 !important;
}

.notifications__view-all-btn {
	padding: 0 !important;
}

.notifications__body:empty {
	padding: 0.75rem 1.5rem;
}

.notification {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.5rem 1.5rem;
	border-bottom: 1px solid $color-divider;

	&:last-child {
		border-bottom: none;
	}

	.notification__status {
		display: none;
	}

	&.new {
		position: relative;

		.notification__status {
			display: initial;
			position: absolute;
			top: 0.5rem;
			left: 0.625rem;
		}
	}
}

.notification__title {
	@include typography-body2-text;
}

.notification__subtitle {
	@include typography-caption;
	color: $color-text-secondary;
}

.notification__date {
	@include typography-caption;
	color: $color-text-more-secondary;
}

@media screen and (max-width: $breakpoint-mobile-big) {
	.notifications {
		width: calc(100% - #{$popper-viewport-padding * 2});
	}
}
