---
import StatsCard from "components/@common/StatsCard/StatsCard.astro";
import Layout from "layouts/Layout/Layout.astro";
import TopPartners from "./TopPartners/TopPartners.astro";
import StructureTurn from "./StructureTurn/StructureTurn.astro";
import HexsBlock from "./HexsBlock/HexsBlock.astro";
import "./StructurePage.scss";
---

<Layout title="Анализ структуры" selectedMenuItem="structure">
	<div class="content-structure">
		<div class="content-structure__stats">
			<StatsCard
				title="Личные партнеры"
				icon="info"
				items={[
					{
						value: "14",
						unit: "человек",
						name: "Кол-во партнеров",
					},
					{
						value: "234",
						unit: "USDT",
						name: "Парт. отчисление",
					},
				]}
			/>
			<StatsCard
				title="Квалификации"
				icon="money"
				items={[
					{
						value: "B1",
						name: "Текущий статус",
					},
					{
						value: "80 000",
						unit: "USDT",
						name: "Текущий оборот",
					},
				]}
			/>
			<StatsCard
				title="Общая глубина структуры"
				icon="channel-share"
				items={[
					{
						value: "127",
						unit: "чел.",
						name: "Кол-во партнеров",
					},
					{
						value: "320 000",
						unit: "USDT",
						name: "Весь оборот структуры",
					},
				]}
			/>
		</div>
		<HexsBlock className="content-structure__hexs-block" />
		<TopPartners className="content-structure__top-partners" />
		<StructureTurn className="content-structure__structure-turn" />
	</div>
</Layout>
