@import "../../../styles/variables.scss";

.content-structure {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.content-structure__stats {
	grid-area: s;
	display: flex;
	gap: 1rem;

	& > * {
		flex-grow: 1;
		flex-basis: 0;
	}
}

@media (max-width: $breakpoint-tablet-small) {
	.content-statuses__stats {
		flex-direction: column;
	}
}
