---
import classNames from "classnames";
import Icon from "components/@uikit/Icon/Icon.astro";
import "./LanguageButton.scss";

export interface Props {
	className?: string;
	id: "languageBtn" | "sideMenuLanguageBtn";
}

const { className, id } = Astro.props;
---

<div class={classNames(className, "language-btn")} id={id}>
	<span class="language-btn__text">RU</span>
	<Icon iconName="chevron-bottom" />
</div>
