---
import Navigation from "components/@common/Navigation/Navigation.astro";
import Container from "components/@uikit/Container/Container.astro";
import "./BaseLayout.scss";

type Props = {
    active?: "plus" | "square"
}

const {active} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <header class="header">
        <Container>
            <Navigation active={active} />
        </Container>
    </header>
    <main class="content">
        <Container>
            <slot />
        </Container>
    </main>
</body>
</html>