---
import classNames from "classnames";
import InputUrlSync from "../InputUrlSync/InputUrlSync.astro";
import "./Input.scss";

export interface Props {
	className?: string;
	name?: string;
	value?: string;
	type?: string;
	placeholder?: string;
	urlSync?: boolean;
}

const { className, name, value, type = "text", placeholder, urlSync } = Astro.props;
---

<div class={classNames(className, "input")}>
	<slot name="start" />
	<InputUrlSync name={name} value={value} type={type} placeholder={placeholder} disabled={!urlSync} />
	<slot name="end" />
</div>

<script>
	import "./Input";
</script>
