---
import Button from "components/@uikit/Button/Button.astro";
import Dialog from "components/@uikit/Dialog/Dialog.astro";
import DialogActions from "components/@uikit/Dialog/DialogActions.astro";
import DialogContent from "components/@uikit/Dialog/DialogContent.astro";
import DialogTitle from "components/@uikit/Dialog/DialogTitle.astro";
import Field from "components/@uikit/Field/Field.astro";
import Input from "components/@uikit/Input/Input.astro";
---

<Dialog as="form" id="confirmEmailVerificationDialog" maxWidth="xs" fullWidth>
	<DialogTitle>Подключить проверку через почту</DialogTitle>
	<DialogContent>
		<div style="font-size: 1rem; font-weight: 500; line-height: 1.5rem; margin-bottom: 2rem">
			Введите код, отправленный на example@mail.ru
		</div>
		<Field>
			<Input name="code" placeholder="Код подтверждения" />
		</Field>
	</DialogContent>
	<DialogActions>
		<Button variant="contained" type="submit" fullWidth>Подтвердить</Button>
	</DialogActions>
</Dialog>
