---
import Layout from "layouts/Layout/Layout.astro";
import "./PersonalPartnersPage.scss";
---

<Layout title="Личные партнёры" selectedMenuItem="personal-partners">
	<div class="content-personal-partners">test</div>
</Layout>
