---
import classNames from "classnames";
import "./Timer.scss";

export type Props = Record<string, any> & {
	className?: string;
	format?: string; // available literals: dd, hh, hhhh, mm, ss
	finishDate?: Date;
	placeholder?: string;
};

const { className, finishDate, format, placeholder, ...props } = Astro.props;
---

<div
	class={classNames(className, "timer")}
	data-timer-finish-date={finishDate?.toString()}
	data-timer-format={format}
	{...props}
>
	{placeholder}
</div>

<script>
	import "./Timer";
</script>
