@import "../../../styles/mixins.scss";

.instructions__tip {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	@include typography-body2-text;
	margin-top: 1rem;
}

.instructions__tip-text {
	padding: 0.25rem 0;
}
